/*
Styles for the Landing page
*/
.container {
  max-width: 890px;
}


/* We center the elements with flexbox */
.landing-page-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

.landing-page-wrapper .app-drawing svg {
  height: 125px;
}

.landing-page-wrapper .text-description {
  color: #777;
}

h2.landing-header {
  font-size: 1.4em;
}

p.landing-text,
a.btn.btn-paper {
  font-size: 0.9em;
}


