/*
Styles for the Landing page
*/
.container {
  max-width: 890px;
}

.app-description {
  margin-top: 7%;
  margin-bottom: 25px;
  text-align: center;
}

.landing-app-logo {
  display: block;
  width: 72px;
  margin: auto;
}

.landing-app-name {
  display: inline;
  position: relative;
  top: 10px;
  font-family: zwodrei;
  color: #555;
}

.landing-app-name,
.landing-text, {
  color: #666;
}

h2.landing-header {
  font-size: 1.7em;
}

p.landing-text,
a.btn.btn-paper {
  font-size: 1.1em;
}

.landing-page-search {
  margin: auto;
  margin-bottom: 20px;
  max-width: 90%;
}

.landing-page-search .search-form { /* This will overwrite the styling in the main because it is this file is include last*/
  float: none;
  width: 100%;
}
