/*
Styling for the paper bank application
*/

body, h1 {
  margin: 0;
  padding: 0;
}


.section-container {
  max-width: 600px;
  margin: auto;
}

.page-header {
  margin: 20px 0 20px;
}

h1.app-name {
  text-align: center;
  margin-bottom: 20px;
}

.search-form {
  max-width: 95%;
  margin-bottom: 70px;
}

