backports.shutil-get-terminal-size==1.0.0
boto==2.42.0
coverage==4.2
decorator==4.0.10
dj-database-url==0.4.1
Django==1.9.7
django-allauth==0.29.0
django-bootstrap-form==3.2.1
django-bower==5.1.0
django-el-pagination==3.0.1
django-storages==1.4.1
gunicorn==19.6.0
ipython==4.2.1
ipython-genutils==0.1.0
oauthlib==2.0.1
pathlib2==2.1.0
pexpect==4.2.0
pickleshare==0.7.2
Pillow==3.4.2
psycopg2==2.6.2
ptyprocess==0.5.1
python-coveralls==2.9.0
python-openid==2.2.5
PyYAML==3.12
reportlab==3.3.0
requests==2.10.0
requests-oauthlib==0.7.0
rollbar==0.13.2
sh==1.11
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.2
djangorestframework==3.5.4
