{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}


    {# including the landing page css #}
    {% block extra_css %}

        <link rel="stylesheet" href="{% static 'paper/css/landing_page.css' %}">

    {% endblock %}


    <div class="landing-page-wrapper text-xs-center">


        <div class="container">
 

           {# First row containing the paperbank drawing image #}
           <div class="row">
             <div class="img-description">
                <img class="img-fluid app-drawing " src="{% static 'paper/img/paperbank_drawing.png' %}">
             </div>
           </div>


           {# Second row, description about paperbank #}            
           <div class="app-description">
             <div class="text-description">
                 <h2 class="landing-header landing-text">Revisions made easy, fun and effective than ever!</h2>
                 <p class="landing-text">
                     Paperbank is a Rwanda-based platform holding a collection of past papers, from national
                     examinations to class tests and assignments for all academic levels to ease your revision
                     journey, have fun!.
                 </p>

                  <a class="btn btn-paper landing-papers-link "
                        href="{% url 'main_page' %}">Get the papers</a>
                 </div>

             </div>
           </div>


        </div>





    </div>


{% endblock %}
