{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}


    {# including the landing page css #}
    {% block extra_css %}

        <link rel="stylesheet" href="{% static 'paper/css/landing_page.css' %}">

    {% endblock %}


    {# Testing social authentication #}
    {% load socialaccount %}
    {% providers_media_js %}


    <div class="landing-page-wrapper text-xs-center">


        <div class="container">
 

           {# First row containing the paperbank drawing image #}
           <div class="row">
             <div class="img-description">
                <div class="app-drawing svg-container">
                    {% include 'svg/paper_drawing.svg' %}
                </div>
             </div>
           </div>


           {# Second row, description about paperbank #}            
           <div class="app-description">
             <div class="text-description">
                 <h2 class="landing-header landing-text">Making revisions easy, fun and effective than ever!</h2>
                 <p class="landing-text">
                     Paperbank is a Rwanda-based platform holding a collection of past papers, from national
                     examinations to class tests and assignments for all academic levels to ease your revision
                     journey, have fun!.
                 </p>

                  <a class="btn btn-paper landing-papers-link "
                        href="{% url 'main_page' %}">Get the papers</a>

                  {# Login with facebook link #}
                  <a class="btn btn-paper landing-papers-link " 
                        href="{% provider_login_url 'facebook' method='oauth2' %}">Login with Facebook</a>     

                 </div>

             </div>
           </div>


        </div>





    </div>


{% endblock %}
