{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}


    {# including the landing page css #}
    {% block extra_css %}

        <link rel="stylesheet" href="{% static 'paper/css/landing_page.css' %}">

    {% endblock %}


    <div class="landing-page-wrapper">


        {# App Description Logo + app name #}
        <div class="container">
            <div class="row">
                <div class="app-description text-center">
                    <img src="{% static 'paper/img/logo.png' %}"
                                            class="landing-app-logo" alt="Paperbank logo">
                    <h1 class="landing-app-name">Paper Bank</h1>
                <div>
            </div>
        </div>

        {# The search for the landing page #}
        <div class="container">
            <div class="row landing-page-search">
               {% include 'components/search.html' %}
            </div>
        </div>



        {# App Extra Description plus app description drawing #}
        <div class="container">
            <div class="row">
                <div class="general-app-description">



                    <div class="img-description col-sm-5 push-sm-7">
                        <img class="img-fluid app-drawing" src="{% static 'paper/img/paperbank_drawing.png' %}">
                    </div>

                    <div class="text-description col-sm-7 pull-sm-5">
                        <h2 class="landing-header landing-text">Revisions made fun and easier than ever!</h2>
                        <p class="landing-text">
                            Paperbank is a Rwanda-based web platform holding a collection of past papers, from national
                            examinations to class tests and assignments for all academic levels to ease your revision
                            journey, have fun!.
                        </p>

                        <a class="btn btn-paper landing-papers-link "
                         href="{% url 'main_page' %}">Get the papers</a>
                    </div>



                </div>
            </div>
        </div>





    </div>


{% endblock %}
