{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
   
   {# Main page specific css #}
   <link rel="stylesheet" href="{% static 'paper/css/main_page.css' %}">

   <div class="page-wrapper">

     <div class="paper-box-wrapper">
  
        <div class="page-header">

            <div class="row marg-zero">

                <div class="col-md-2 app-info marg-zero">
                    <h1 class="app-name ">Paperbank</h1>
                </div>

                {# Sorting papers form #}
                <div class="col-md-10 main-page-search">
                    {% include 'components/search.html' %}
                </div>

            </div>

        </div>




        {# Display papers #}
        <div class="papers-container">
            <div class="section-container">
                {% include 'components/display_papers.html' %}
            </div>
        </div>

        <footer>
          <p class="text-xs-center small text-muted">Our library now contains {{number_of_papers}} papers, share with us papers and ideas, and help us to help you ;).</p>
        </footer>


    </div>
  </div>

{% endblock %}
