{% extends 'base.html' %}


{% block content %}

     <div class="page-wrapper">

        <div class="page-header">

            <div class="section-container">
                <h1 class="app-name">Paperbank</h1>

                {# Sorting papers form #}
                <form action='{% url 'search'  %}' method='get'  class="search-form">

                    <div class="col-xs-10">
                        <input type='text' name='q' placeholder='Search for a paper' class="search">
                    </div>

                    <div class="col-xs-2 go-btn-container">
                        <input type='submit' value='Go' class="btn btn-default ">
                    </div>

                </form>
            </div>

        </div>




        {# Display papers #}
        <div class="papers-container">
            <div class="section-container">
                {% include 'components/display_papers.html' %}
            </div>
        </div>

    </div>

{% endblock %}
