
{# This is a template for dealing with the display of papers  #}


<ul class="paper-container">
    {{papers_page}}
    {% for paper in papers_page %}
        <li class="paper">
          <span class="paper-tags-container pull-right">
              {% for tag in paper.tags.all %}
                  <a href="{% url 'filter_by_tag' tag.name %}" class="paper-tag pull-right small">{{tag.name}}</a>
              {% endfor %}
          </span>

          <a href="{{paper.paper_file.url}}" class="paper-name">{{paper.name}}</a>
        </li>
    {% endfor %}
</ul>


<div class="text-center">
    <div class="pagination">
        {% if papers_page.has_previous %}
            <li class="page-item">
                <a href="?page={{papers_page.previous_page_number}}" class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {%  for page_number in papers_page.paginator.page_range %}

            {% if papers_page.number == page_number %}
                {% if papers_page.has_next or papers_page.has_previous %}
                    <li class="page-item active">
                        <a href="?page={{page_number}}" class="page-link">{{page_number}}</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="page-item">
                    <a href="?page={{page_number}}" class="page-link">{{page_number}}</a>
                </li>
            {% endif %}

        {% endfor %}

        {% if papers_page.has_next %}
            <li class="page-item">
                <a href="?page={{papers_page.next_page_number}}" class="page-link">
                    <span aria-hidden="true">&raquo</span>
                </a>
            </li>
        {% endif %}
    </div>
</div>
