
{# This is a template for dealing with the display of papers  #}

{% load el_pagination_tags %}

<ul class="paper-container">
   {% paginate papers %}
      {% for paper in papers %}
        <li class="paper row">

          <a href="{{paper.paper_file.url}}" class="paper-name col-xs-8">{{paper.name}}</a>
          <span class="paper-tags-container">
              {% for tag in paper.tags.all %}
                  <a href="{% url 'filter_by_tag' tag.name %}" class="paper-tag pull-right small">#{{tag.name}}</a>
              {% endfor %}
          </span>

        </li>
    {% endfor %}
 
 
    {# Showing the pagination links using the django el(endless) pagination plugin #}
    <div class="text-center">
        <div class="pagination">
           {% show_pages %}
        </div>
    </div>

</ul>
