
{# Upload Paper Form modal Component #}
<div class="modal fade" id="upload-form-modal">
    <div class="modal-dialog">

        {# The form #}
        <form method="POST" enctype="multipart/form-data" action="{% url 'upload_paper' %}">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                  {% csrf_token %}

                  {# Name of the paper #}
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" name="name">
                  </div>

                  {# Paper file #}
                  <div class="form-group"> 
                      <label for="paper_file"> File</label>
                      <input type="file" accept="application/pdf" id="paper_file" name="paper_file">
                  </div>

                  {# Tags #}
                  <div class="form-group">
                      <label for="tags">Tags</label>
                      <input type="tags" class="form-control" id="tags" name="tags">
                      <p class="small-text help-text">Separate tags with commas, ex: maths, mid-term</p>
                  </div>
 
                   
            </div>
            <div class="modal-footer">
                <button class="btn btn-paper" type="submit">Submit</button>
            </div>
        </div>
        </form>


    </div>
</div>
